@import 'reset.less';
@import 'base.less';
@import 'markdown.less';

// basic style of page

body {
    min-width: 700px;
    background-color: #ffffff;
    font-family: Helvetica, arial, sans-serif;
    font-size: 14px;
}

a {
    color: #4183c4;
    &:link {
        text-decoration: none;
    }
    &:visited {
        text-decoration: none;
    }
    &:hover {
        text-decoration: none;
    }
    &:active {
        text-decoration: none;
    }
}

// page module or widgets

.tip {
    font-size: 12px;
    font-weight: normal;
    color: #de0000;
}

.box () {
    margin: 0px 0px 20px 0px;
    border: 1px solid #eeeeee;
    overflow: hidden;
    background-color: #fefefe;
    .box-shadow-inset (0px, 0px, 5px, rgba(100,100,100,0.1));
    .transition;
    &:hover {
        .box-shadow-inset (0px, 0px, 5px, rgba(65,131,196,0.1));
    }
    .box-header {
        padding: 7px 20px;
        border-bottom: 1px solid rgba(100,100,100,0.1);
        h1, h2 {
            font-size: 1.4em;
            font-weight: bold;
            color: #000000;
            a {
                color: #000000;
                &:link {
                    color: #000000;
                }
                &:visited {
                    color: #666666;
                }
                &:hover {
                    color: #4183c4;
                }
                &:active {
                    color: #4183c4;
                }
            }
        }
    }
    .box-body {
        padding: 20px;
        overflow: hidden;
        .markdown-render-style;
    }
    .box-footer {
        padding: 5px 20px;
    }
}

.nav-item () {
    display: inline-block;
    padding: 10px 20px 10px 0;
    font-size: 18px;
    font-weight: bold;
    a {
        color: #ffffff;
    }
}

.nav () {
    .left;
    li {
        .left;
        .nav-item;
    }
    .clearfix;
}

// page basic structure

header {
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 40px;
    overflow: hidden;
    background: #000000;
    color: #ffffff;
    .box-shadow (0px, 0px, 5px, rgba(0,0,0,0.2));
    .inner {
        margin: 0 10%;
        ul.nav {
            .nav;
        }
        .view {
            .right;
            .nav-item;
        }
        .clearfix;
    }
}

section.container {
    padding-top: 40px;
    margin: 0 10%;

    // structure
    .col-left {
        width: 70%;
        .left;
    }
    .col-right {
        width: 30%;
        .left;
    }
    .col-center {
        padding: 30px 20px 20px;
    }
    .side-bars {
        padding: 30px 20px 20px;
        .side-bar {
            .box;
        }
    }
    .common-wrapper {
        .markdown-render-style;
    }

    // posts list
    .posts {
        padding: 30px 20px 20px;
        .posts-item {
            .box;
            .box-footer {
                .posts-item-footer-date {
                    color: #8f8f8f;
                }
            }
        }
    }

    // single post
    .post-wrapper {
        padding: 30px 20px 20px;
    }
    .post {
        .box;
        .box-footer {
            padding: 20px;
        }
    }

    .clearfix;
}

footer {
    padding: 30px; 
    text-align: center;
}