---
layout: default
title: I Want To Code With You
---
<!-- .col-left -->
<div class="col-left">
    <div class="posts">
        {% for post in site.posts %}
        <div class="posts-item box">
            <div class="box-header">
                <h2>
                    <a href="{{ post.url }}">
                        {{ post.title }}
                    </a>
                </h2>
            </div>
            <div class="box-body">
                <p>
                    {% if post.preview %}
                        {{ post.preview }}
                    {% else %}
                        No preview.
                    {% endif %}
                </p>
            </div>
            <div class="box-footer">
                <em class="posts-item-footer-date">
                    {% if post.date %}
                        Posted on {{ post.date | date_to_long_string }}.
                    {% endif %}
                </em>
            </div>
        </div> 
        {% endfor %}
    </div>
</div>
<!-- end of .col-left -->
<!-- .col-right -->
<div class="col-right">
    <div class="side-bars">
        <div class="side-bar box">
            <div class="box-header">
                <h2>Links</h2>
            </div>
            <div class="box-body">
                {% include links.html %}
            </div>
            <div class="box-fooer">
                
            </div>
        </div>
        <div class="side-bar box">
            <div class="box-header">
                <h2>Contact Me</h2>
            </div>
            <div class="box-body">
                {% include contacts.html %}
            </div>
            <div class="box-fooer">
                
            </div>
        </div>
    </div>
</div>
<!-- end of .col-right -->