@import '/stylesheets/reset.less';
@import '/stylesheets/base.less';
@import '/stylesheets/github.less';

body {
    font-family: Helvetica, arial, sans-serif;
    font-size: 14px;
    min-width: 700px;
    background-color: #fdfdfd;
}

a {
    color: #4183c4;
    &:link {
        text-decoration: none;
    }
    &:visited {
        text-decoration: none;
    }
    &:hover {
        text-decoration: none;
    }
    &:active {
        text-decoration: none;
    }
}

span.tip {
    font-size: 12px;
    font-weight: normal;
    color: #de0000;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 40px;
    background: black;
    color: white;
    overflow: hidden;

    .inner {
        margin: 0 10%;
        .nav-item () {
            display: inline-block;
            .left;
            padding: 10px 20px 10px 0;
            font-size: 18px;
            font-weight: bold;
            a {
                color: white;
            }
            .transition ();
        }
        ul.nav {
            .left;
            li {
                .nav-item;
                &:hover {
                    text-shadow: 0px 0px 5px rgba(255,255,255,0.3);
                }              
            }
            .clearfix;
        }
        .view {
            .nav-item;
            .right;
        }
        .clearfix;
    }
}

section.container {
    padding-top: 40px;
    margin: 0 10%;
    .posts {
        padding: 20px;
        .posts-item {
            background-color: white;
            margin-bottom: 20px;
            border: 1px solid white;
            .border-radius (4px);
            box-shadow: 0px 0px 1px 1px rgba(100, 100, 100, 0.1) inset;
            .posts-item-title {
                margin: 2px;
                border-radius: 4px 4px 0px 0px;
                a {
                    font-size: 1.4em;
                    font-weight: bold;
                    color: #000000;
                }
                padding: 5px 20px;
                border-bottom: 1px solid rgba(0,0,0,0.1);
            }
            .posts-item-body {
                padding: 20px;
            }
            .posts-item-footer {
                padding: 5px 20px;
                .posts-item-footer-date {
                    color: #8f8f8f;
                }
            }
        }
    }
    .post {
        .post-content {
            .github-markdown-style;
        }
        .post-footer {
            padding: 20px;
        }
    }
}

footer {
    padding: 30px; 
    text-align: center;
}