<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title>I Wanna Code With You</title>
    <!-- put *.less file before less.*.js -->
    <link rel="stylesheet" type="text/less" href="stylesheets/style.less">
    <script src="javascripts/less-1.3.0.min.js"></script>
    <!--[if lt IE 8]>
    <link rel="stylesheet" type="text/css" href="stylesheets/ie.fix.css">
    <script type="text/javascript" src="javascripts/ie.fix.js"></script>
    <![endif]-->
</head>
<body>
    <div id="wrapper">
        <header>
            <div class="inner">
                <ul class="nav">
                    <li><a href="#">MMNN</a></li>
                    <li>
                        <a href="#">EXAM</a>
                        <span class="tip">
                            new!!
                        </span>
                    </li>
                    <li><a href="#">DEMOS</a></li>
                    <li><a href="#">ABOUT ME</a></li>
                </ul>
                <div class="view">
                    <a href="#">
                        <small>NAITELUO</small>
                        In Github.
                    </a>
                </div>
            </div> 
        </header>
        <section class="container">
            <!-- .col-center -->
            <div class="col-center">
                <div class="posts">
                    <div class="posts-item box">
                        <div class="box-header">
                            <h2>
                                <a href="#">
                                    Code Conventions for the JavaScript Programming Language
                                </a>
                            </h2>
                        </div>
                        <div class="box-body">
                            <p>
                                一個軟件對一個組織的長遠價值，與代碼庫的質量成正比。在一個程序的一生中，會被很多人修改和閱讀。如果程序能夠清晰地表達它的結構和特性，那它在不遠的未來中發生錯誤的可能性就會更小。
                            </p>
                        </div>
                        <div class="box-footer">
                            <em class="posts-item-footer-date">
                                Posted on 22 September 2012.
                            </em>
                        </div>
                    </div>   
                </div>
            </div>
            <!-- end of .col-center -->
        </section>
        <footer>
            <p>
                <small>
                    Hosted on GitHub Pages &mdash;
                    Theme by 
                    <a href="https://github.com/naiteluo">naiteluo</a> 
                </small>
            </p>
        </footer>
    </div>
</body>
</html>