<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="chrome=1">
	<title>
		{% if page.title %}
			{{ page.title }}
		{% else %}
			{{ site.title }}
		{% endif %}
	</title>

	<link rel="stylesheet" href="/stylesheets/styles.css">
	<link rel="stylesheet" href="/stylesheets/pygment_trac.css">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<!--[if lt IE 9]>
	<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
	<div class="wrapper">
		<header>
			<h1><a href="http://naiteluo.net">MMNN</a></h1>
			<p>naiteluo's blog</p>
			<p class="view">
				<a href="https://github.com/naiteluo/blog">View the Project on GitHub <small>naiteluo/naiteluo</small></a>
			</p>
			<ul style="display: block">
				<li><a href="#">Download <strong>ZIP File</strong></a></li>
				<li><a href="#">Download <strong>TAR Ball</strong></a></li>
				<li><a href="https://github.com/naiteluo/blog">View On <strong>GitHub</strong></a></li>
			</ul>
			<script type="text/javascript">
				fanfou_name="naiteluo";fanfou_count=10;fanfou_timeline="user";
			</script>
			<script type="text/javascript" charset="utf-8" src="http://static.fanfou.com/badge/timeline.js"></script>
		</header>
		<section>
			{{ content }}
		</section>
		<footer>
			<p>This project is maintained by <a href="https://github.com/naiteluo">naiteluo</a></p>
			<p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
		</footer>
	</div>
	<script src="/javascripts/scale.fix.js"></script>
</body>
</html>