<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="chrome=1">
	<title>
		{% if page.title %}
			{{ page.title }}
		{% else %}
			{{ site.title }}
		{% endif %}
	</title>
	<link rel="stylesheet" type="text/less" href="/stylesheets/style.less">
	<script type="text/javascript" src="/javascripts/less-1.3.0.min.js"></script>
	<!-- 代码着色 -->
	<link rel="stylesheet" href="/stylesheets/pygment_trac.css">
</head>
<body>
	<div class="wrapper">
		<header>
			<div class="inner">
				<ul class="nav">
					<li class="logo">
						<a href="http://naiteluo.net">MMNN</a>
					</li>
					<li class="aboutme">
						<a href="#">ABOUT ME</a>
					</li>
					<li class="exam">
						<a href="/exam.html">EXAM</a>
						<span class="tip">
							new!!
						</span>
					</li>
				</ul>
				<div class="view">
					<a href="https://github.com/naiteluo"><small>NAITELUO</small> IN Github.</a>
				</div>
			</div>
		</header>
		<section class="container">
			{{ content }}
		</section>
		<footer>
			<p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/naiteluo">naiteluo</a></small></p>
		</footer>
	</div>
</body>
</html>