<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title>
    	{% if page.title %}
	    	{{ page.title }}
	    {% else %}
	    	{{ site.title }}
    	{% endif %}
    </title>
    <!-- put *.less file before less.*.js -->
    <link rel="stylesheet" type="text/less" href="/stylesheets/style.less">
    <script src="/javascripts/less-1.3.0.min.js"></script>
    <!--[if lt IE 9]>
    <link rel="stylesheet" type="text/css" href="/stylesheets/ie.fix.css">
    <script type="text/javascript" src="/javascripts/ie.fix.js"></script>
    <![endif]-->
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-35934371-1']);
        _gaq.push(['_trackPageview']);

        (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
</head>
<body>
    <div id="wrapper">
        <header>
            <div class="inner">
                <ul class="nav">
                    <li><a href="/">MMNN</a></li>
                    <li>
                        <a href="/demos/exam.html">EXAM</a>
                        <span class="tip">
                            new!!
                        </span>
                    </li>
                    <li><a href="/demos">DEMOS</a></li>
                    <li><a href="/resume">ABOUT ME</a></li>
                </ul>
                <div class="view">
                    <a href="https://github.com/naiteluo">
                        <small>NAITELUO</small>
                        In Github.
                    </a>
                </div>
            </div> 
        </header>
        <section class="container">
        	{{ content }}
        </section>
        <footer>
            <p>
                <small>
                    Hosted on GitHub Pages &mdash;
                    Theme by 
                    <a href="https://github.com/naiteluo">naiteluo</a> 
                </small>
            </p>
        </footer>
    </div>
    <!-- baidu tongji -->
    <script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F8ea0975679121e289f7ea751023fb0c4' type='text/javascript'%3E%3C/script%3E"));
</script>

</body>
</html>